body {
    background-color: rgb(241, 236, 236);
    margin: 0;
}

main {
    width: 1100px;
    margin: 5rem auto;
    font-family: "Roboto", sans-serif;
}

h2 {
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.692);
}

.editorial {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: cornflowerblue;
    margin-left: 12px;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
}

.Q1_Goals {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgb(165, 98, 241);
    margin-left: 12px;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
}

.recruiting {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgb(13, 241, 146);
    margin-left: 12px;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
}

.mobile {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgb(228, 117, 13);
    margin-left: 12px;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
}

.website {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgb(233, 37, 158);
    margin-left: 12px;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
}

.sales {
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgb(134, 238, 15);
    margin-left: 12px;
    border-radius: 10px;
    padding: 5px;
    line-height: 15px;
}

/* Navigator */

#add_task {
    display: inline-block;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 11px;
    color: white;
}

#add_section {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    color: rgba(211, 211, 211, 0.877);
}

/* Header */

.logo_header {
    background-color: white;
}

.toboo_logo {
    width: 150px;
    height: 150px;
}

.logo_text {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

/* Main */

.main_page {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    line-height: 35px;
}

.done {
    color: rgb(0, 190, 0);
    font-size: 2rem;
}

.undone {
    color: red;
    font-size: 2rem;
}

.entities {
    font-size: 0.75rem;
}